/* Typography */
/* Body Copy
- Font size: 15px

Font
- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- font-family: 'Spartan', sans-serif;
- Weights: 400, 500, 700 */

/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --very-dark-magenta: hsl(301, 44%, 22%);
  --soft-pink: hsl(334, 80%, 67%);
  --dark-grayish-magenta: hsl(301, 10%, 53%);
  --light-grayish-magenta: hsl(301, 23%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* Main Styles */

body {
  font-family: "Spartan", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  padding: 3rem 1rem;
  background: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1fr minmax(57%, 2fr);
  place-items: center;
  text-align: center;
}

/* Heading Section */

.heading-section h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  word-spacing: -0.071rem;
  margin: 0 2rem;
  color: var(--very-dark-magenta);
  max-width: 15ch;
}

.heading-section p {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.563rem;
  word-spacing: -0.031rem;
  padding: 1.5rem 0 0 0;
  height: 100%;
  color: var(--dark-grayish-magenta);
  max-width: 30ch;
  margin: 0 auto;
}

/* Ratings Section */

.ratings-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
}

.ratings-figure {
  min-width: 20.438rem;
  background-color: var(--light-grayish-magenta);
  padding: 1rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure:first-of-type {
  margin-top: -0.5rem;
}

.ratings-figure img {
  padding: 0.175rem;
}

.figcaption h3 {
  font-size: 0.813rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  margin: 0.5rem 0;
}

/* Testimonials Section */

.testimonials-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem 0rem;
}

.testimonials-section img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.testimonials-section article {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
  width: 20.438rem;
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 2.5rem 1.9rem;
}

.testimonials-section header {
  display: flex;
  align-items: center;
}

.testimonials-section h2 {
  font-size: 0.813rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.175rem 1rem;
}

.testimonials-section h3 {
  font-size: 0.813rem;
  font-weight: 400;
  color: var(--soft-pink);
  padding: 0.175rem 1rem;
}

.testimonials-section p {
  font-size: 0.813rem;
  font-weight: 500;
  color: var(--white);
  line-height: 1.375rem;
  letter-spacing: -0.014rem;
  padding: 1.5rem 0;
}

/* Media Queries */

/* Medium */

@media screen and (min-width: 686px) {
  body {
    background: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .ratings-figure {
    margin: 0.5rem;
  }

  figure:first-of-type {
    margin-top: 0.5rem;
  }

  .testimonials-section {
    align-items: center;
    height: auto;
    gap: 1rem;
  }
}

/* Large */

@media screen and (min-width: 1160px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
    max-width: 69.375rem;
    padding: 0;
    margin: 0;
  }

  /* Heading Section Large Media Query */

  .heading-section {
    text-align: left;
    margin-left: -2rem;
  }

  .heading-section h1 {
    max-width: 12ch;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.107rem;
  }

  .heading-section p {
    max-width: 35ch;
    font-size: 0.938rem;
    line-height: 1.563rem;
    letter-spacing: -0.031rem;
    margin-top: -0.5rem;
    margin-left: -0.05rem;
  }

  /* Ratings Section Large Media Query */

  .ratings-section {
    max-height: 13.5rem;
  }

  .ratings-figure {
    flex-direction: row;
    column-gap: 1.5rem;
    padding: 0;
    margin: 0;
    margin-left: 10rem;
    max-height: 3.5rem;
    min-width: 27.813rem;
  }

  #figure1 {
    transform: translateX(-5rem);
    margin-top: 0;
  }

  #figure2 {
    transform: translateX(-2.5rem);
  }

  /* Testimonials Section Large Media Query */

  .testimonials-section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 100%;
    min-height: 20rem;
    column-gap: 1.5rem;
  }

  #article1 {
    align-self: start;
  }

  #article3 {
    align-self: flex-end;
  }

  .testimonials-section article {
    height: 14rem;
    width: 21.875rem;
  }
}
